{% extends "layout.html" %}

{% block content %}
    <h3>¿Estás seguro de que deseas eliminar este post?</h3>
    <div>
        <p><strong>Título:</strong> {{ post.titulo }}</p>
        <p><strong>Contenido:</strong> {{ post.contenido }}</p>
    </div>

    <form method="POST">
        <button type="submit" class="btn btn-danger">Sí, Eliminar</button>
        <a href="{{ url_for('posts_por_categoria', categoria_id=post.categoria_id) }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
