{% extends "layout.html" %}

{% block content %}
    <h2 class="mb-4">Categorías disponibles</h2>

    {% if categorias %}
        <ul class="list-group">
            {% for cat in categorias %}
                
                <li class="list-group-item">
                    <a href="{{ url_for('posts_por_categoria', categoria_id=cat.id) }}">{{ cat.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if current_user.is_authenticated %}
            <div class="alert alert-warning mt-4">
                No hay categorías aún. <a href="{{ url_for('crear_posts') }}">¡Creá tu primera publicación!</a>
            </div>
        {% else %}
            <div class="alert alert-info mt-4">
                Todavía no hay publicaciones disponibles. Iniciá sesión para comenzar.
            </div>
        {% endif %}
    {% endif %}

    {% if current_user.is_authenticated %}
            <a href="{{ url_for('crear_posts') }}" class="btn btn-info btn-sm">
                                Crear Post
                            </a>
    {% endif %}
    <br>
        <div>
        Volver <a href="{{ url_for('index') }}">al inicio</a>
    </div>
{% endblock %}
