{% extends "layout.html" %}

{% block content %}
<h2>Comentarios</h2>

<ul>
  {% for comentario in comentarios %}
    <li>
      <div class="comment-author">
        <strong>{{ comentario.autor.username }}</strong>
      </div>
      <div class="comment-text">
        {{ comentario.comentario }}
      </div>
      <div class="comment-date">
        <small>{{ comentario.fecha_creacion.strftime('%d/%m/%Y %H:%M') }}</small>
      </div>
    </li>
  {% endfor %}
</ul>

<a href="{{ url_for('posts') }}" class="btn btn-secondary">Volver a los posts</a>

{% endblock %}
